{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign In - FIEI</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;{% static 'college-background.jpg'%}&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" method="post" action="{% url 'signin_view' %}">
                            {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="User Name" name="username"></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName-1" placeholder="First Name" name="first_name"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleLastName" placeholder="Last Name" name="last_name"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="number" id="exampleFirstName-2" placeholder="Student Code" name="student_code"></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="email" id="exampleFirstName-3" placeholder="Email Address" name="email"></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><select class="form-select" style="margin-bottom: 15px;" name="career">
                                            <optgroup label="This is a group">
                                                <option value="-" selected="">----Carreer----</option>
                                                <option value="Ingeniería Electrónica">Ingeniería Electrónica</option>
                                                <option value="Ingeniería de Telecomunicaciones">Ingeniería de Telecomunicaciones</option>
                                                <option value="Ingeniería Mecatrónica">Ingeniería Mecatrónica</option>
                                                <option value="Ingeniería Informática">Ingeniería Informática</option>
                                            </optgroup>
                                        </select></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0"><select class="form-select" style="margin-bottom: 15px;" name="year">
                                            <optgroup label="This is a group">
                                                <option value="-" selected="">----Year----</option>
                                                <option value="1">I</option>
                                                <option value="2">II</option>
                                                <option value="3">III</option>
                                                <option value="4">IV</option>
                                                <option value="5">V</option>
                                            </optgroup>
                                        </select></div>
                                    <div class="col-sm-6 mb-3 mb-sm-0"><select class="form-select" style="margin-bottom: 15px;" name="cicle">
                                            <optgroup label="This is a group">
                                                <option value="-" selected="">----Period----</option>
                                                <option value="1">1°</option>
                                                <option value="2">2°</option>
                                            </optgroup>
                                        </select></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password1"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password2"></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                                <hr>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="{% url 'login_view'%}">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>